<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <main>
        {{#if hasErrors}}
                <ul>
                <h2>
                    {{#each errors}}
                        <li class="error">
                            {{this}}
                        </li>
                    {{/each}}
                </h2>
                </ul>
        {{/if}}
        <a href ='/static/people.html'>Make another search</a>
    </main>
</body>
</html>