<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User Data Information</title>
  <link rel="stylesheet" href="/public/css/site.css">
</head>
  <body>
  <header>
    <h1>User Data Information</h1>
  </header>
    {{{ body }}}
  <footer>
    <h1>Dharmit Viradia</h1>
    <h2>10450000</h2>
    <p>This is CS 546 Web Programming Lab</p>
  </footer>
  </body>
</html>

